*.agdai
*.aux
*.bak
*.bbl
*.blg
*.dia~
*.dvi
*.fdb_latexmk
*.flg
*.fls
*.log
*.maf
*.mtc*
*.nav
*.ibc
*.odt
*.out
*.pdf
*.rkt~
*.snm
*.stversions
*.tns
*.toc
*.vrb
\#*.*\#
_region_.tex
_minted-*
.stfolder
paper
dias/*-eps-converted-to.pdf
auto/
redex/*.ps
fg2016/fg2016.zip
MAlonzo/
dist/
